.App {
  height: 60vh;
  display: grid;
  place-items: center;
  padding-top: 300px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body{
  background: url(field-background.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
