.App {
  height: 60vh;
  display: grid;
  place-items: center;
  padding-top: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

body {
  background: url(field-background.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
